{% extends "keyextractor/article_detail.html" %}

{% block analyze_keyword %}

    <!-- Extraction Result -->
    {% if article.extracted_keyword or article.extracted_keyword_basic %}
    <div class="card">

        <div class="card-header">
            <h4 class="card-header-title">Hasil Ekstraksi</h4>
        </div>

        <div class="card-content">
            <div class="content columns">
                <div class="column is-6">
                    <b class="has-text-danger">Modified TextRank</b>
                    <ul>
                        {% for keyword, value in article.extracted_keyword %}
                            <li class="has-text-danger"> 
                                {{ keyword }} ({{ value }})
                            </li>
                        {% endfor %}
                    </ul>
                    <!-- <p>
                        {% for keyword, value in article.extracted_keyword %}
                            {{ keyword }}, 
                        {% endfor %}
                    </p> -->
                </div>
                <div class="column is-6">
                    <b>Original TextRank</b>
                    <ul>
                        {% for keyword, value in article.extracted_keyword_ori %}
                            <li> 
                                {{ keyword }} ({{ value }})
                            </li>
                        {% endfor %}
                    </ul>
                    <!-- <p>
                        {% for keyword, value in article.extracted_keyword_ori %}
                            {{ keyword }}, 
                        {% endfor %}
                    </p> -->
                </div>
            </div>
        </div>

        <div class="card-header">
            <h4 class="card-header-title">Hasil Pengujian</h4>
        </div>

        <div class="card-content">
            <div class="content columns">
                <div class="column is-6">
                    <b class="has-text-danger">Modified TextRank</b>
                    <ul>
                        <li class="has-text-danger"><b>Nilai Precision:</b> {{ article.accuracy.precision }} </li>
                        <li class="has-text-danger"><b>Nilai Recall:</b> {{ article.accuracy.recall }} </li>
                        <li class="has-text-danger"><b>Nilai F-Measure:</b> {{ article.accuracy.f_measure }} </li>
                        <li class="has-text-danger"><b>Waktu Ekstraksi:</b> {{ article.load_time }} ms</li>
                    </ul>
                </div>
                <div class="column is-6">
                    <b>Original TextRank</b>
                    <ul>
                        <li><b>Nilai Precision:</b> {{ article.accuracy_ori.precision }} </li>
                        <li><b>Nilai Recall:</b> {{ article.accuracy_ori.recall }} </li>
                        <li><b>Nilai F-Measure:</b> {{ article.accuracy_ori.f_measure }} </li>
                        <li><b>Waktu Ekstraksi:</b> {{ article.load_time_ori }} ms</li>
                    </ul>
                </div>
            </div>
        </div>

        {% if word_phrase_list %}
            <div class="card-footer">
                <a id="extraction_detail_btn" class="card-footer-item">Lihat Detail Ekstraksi</a>
                <a id="testing_detail_btn" class="card-footer-item">Lihat Detail Pengujian</a>
            </div>
        {% endif %}

    </div>

    {% endif %}

    <!-- Extraction Detail  -->
    <div id="analyze_process">
        
        <br><h1 class="title">Detail Ekstraksi</h1>
        <!-- Sentence Segmentation -->
        {% if basic %}
            <b>Original TextRank</b>
        {% else %}
            <b>Modified TextRank</b>
        {% endif %}
    
        <!-- Word Analyze -->
        <div class="card">
            <div class="card-header">
                <h4 class="card-header-title">Word Analyze</h4>
            </div>
            <div class="card-content">
                <div class="content">
                    
                    {% for word in word_data %}
                        <span class="{{ word.color }}">{{ word.origin }} </span>
                    {% endfor %}

                </div>
            </div>
            <div class="card-footer">
                <p class="card-footer-item">
                    {% for type, color in color_dict.items %}
                        <span class="{{ color }}"> - {{ type }} </span>
                    {% endfor %}
                </p>
            </div>
        </div>
    
        <!-- Word Phrase Candidate -->
        <div class="card">
            <div class="card-header">
                <h4 class="card-header-title">Word & Phrase Candidate</h4>
            </div>
            <div class="card-content">
                <div class="content">
                    <ul>
                        {% for keyword, type in word_phrase_list.items %}
                            <li> 
                                {{ keyword }} ({{ type.type }}) {{ type.has_sentence }}, {{ type.lexical_index }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    
        <!-- Word Graph -->
        <div class="card">
            <div class="card-header">
                <h4 class="card-header-title">Word Graph</h4>
            </div>
            <div class="card-content">
                <div class="content">
                    <ul>
                        {% for keyword, value in all_edges.items %}
                            <li> 
                                {% if value.in or value.out %}
                                    {{ keyword }} (in:{{ value.in }}, out:{{ value.out }}) ({{ value.in|length }})
                                {% else %}
                                    {{ keyword }} (neighbors:{{ value.neighbors }})
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Testing Detail -->
    <div id="testing_detail">
        
        <br><h1 class="title">Detail Pengujian</h1>
        <div class="card">
            <div class="card-header">
                <h4 class="card-header-title">Hasil Pengujian</h4>
            </div>
    
            <div class="card-content">
                <div class="content">
                    <p>
                        <p><b>Kata kunci manual:</b> {{ testing_obj.original_keyword }} </p>
                        <p><b>Kata kunci hasil ekstraksi:</b> {{ testing_obj.extracted_keyword }} </p>
                        <p><b>Precision Value:</b> {{ testing_obj.precision }} </p>
                        <p><b>Recall Value:</b> {{ testing_obj.recall }} </p>
                        <p><b>F-Measure Value:</b> {{ article.accuracy }} </p>
                        <p><b>Waktu Ekstraksi:</b> {{ article.speed_rate }} ms</p>
                    </p>
                </div>
            </div>
        </div>
    </div>

    {% block analyze_process %}{% endblock %}

{% endblock %}