{% extends "keyextractor/base.html" %}

{% block content %}
    
    <div class="card">
        <article class="card-content media">
            <div class="media-content">
                <div class="content">
                    <h1 class="title">{{ article.title }}</h1>
                    
                    <p class="has-text-justified">
                        <b>Abstrak</b><br>
                        {{ article.content.abstrak }}<br>
                        <p id="article_isi" class="has-text-justified"><b>Isi</b><br> {{ article.content.isi }} </p>
                        <a href="#" id="read_toggle" data-content="toggle-text">Selengkapnya</a>
                    </p>

                    {% if article.original_keyword %}
                        <p><b>Kata Kunci : </b> {{ article.original_keyword }} </p>
                    {% endif %}

                </div>
            </div>
        </article>
        <div class="card-footer">
            <div class="dropdown card-footer-item">
                <div class="dropdown-trigger">
                    <a aria-haspopup="true" aria-controls="dropdown-menu">
                        <span>Ekstrak Kata Kunci</span>
                        <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                        <a href="{% url 'keyextractor:article_analyze' article.id %}" class="dropdown-item">Modified TextRank</a>
                        <a href="{% url 'keyextractor:article_analyze_basic' article.id %}" class="dropdown-item">Original TextRank</a>
                    </div>
                </div>
            </div>

            {% if article.extracted_keyword or article.extracted_keyword_basic %}
                <a href="{% url 'keyextractor:reset_extraction' article.id %}" class="card-footer-item">Reset Ekstraksi</a>
            {% endif %}
            <a href="{% url 'keyextractor:article_update' article.id %}" class="card-footer-item">Edit Artikel</a>
            <a onclick="if(confirm('Apakah anda yakin ingin menghapus artikel ini ??')){ location.href='{% url 'keyextractor:article_delete' article.id %}' }" class="card-footer-item">Hapus Artikel</a>
        </div>
    </div>

    <br>
    {% block analyze_keyword %}{% endblock %}

{% endblock %}