{% extends "keyextractor/base.html" %}

{% block content %}
    
    {% if article_list %}

        {% for article in article_list %}
            
            <div class="card">
                <article class="card-content media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong><a href="{% url 'keyextractor:article_detail' article.id %}"> {{ article.title }} </a></strong>
                                <br>

                                <p class="has-text-justified">
                                    {{ article.content.abstrak|safe|truncatechars:"500" }} 
                                    {% if article.content.abstrak|length > 500 %}
                                        <a href="{% url 'keyextractor:article_detail' article.id %}">Selengkapnya</a>
                                    {% endif %}
                                </p>

                            </p>
                        </div>
                    </div>
                </article>
            </div>

        {% endfor %}

        <br>
        <nav class="pagination is-rounded" role="navigation" aria-label="pagination">

            {% if article_list.has_previous %}
                <a class="pagination-previous" href="?page={{ article_list.previous_page_number }}" title="Go to previous page">Sebelumnya</a>
            {% endif %}

            {% if article_list.has_next %}
                <a class="pagination-next" href="?page={{ article_list.next_page_number }}" title="Go to next page">Selanjutnya</a>
            {% endif %}

            <ul class="pagination-list">
                {% for page in paginator.page_range %}
                    {% if page == article_list.number %}
                        <li><a class="pagination-link is-current" aria-label="Page {{ page }}" aria-current="page"> {{ page }} </a></li>
                    {% else %}
                        <li><a href="?page={{ page }}" class="pagination-link" aria-label="Goto page {{ page }}"> {{ page }} </a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>

    {% else %}
    
        <div class="has-text-centered">
            <br><br><br>
            <h4>No Article available.</h4><br>
            <a href="{% url 'keyextractor:article_create' %}" class="button is-primary is-large">Create New Article</a>
        </div>
        
    {% endif %}

{% endblock %}