{% extends "keyextractor/base.html" %}

{% block content %}
    
    <div class="columns">
        
        <div class="card column is-three-quarters">
            <div class="card-content">
                
                {% if article.id %}

                {% else %}
                <form action="{% url 'keyextractor:import_pdf' %}" method="post" enctype="multipart/form-data" name="form_pdf">
                    {% csrf_token %}
                    <input type="file" class="button" name="file">
                    <input type="submit" class="button is-primary" value="Import PDF">
                    <br><br>
                </form>
                {% endif %}

                {% if article.id %}
                <form action="{% url action article.id %}" method="post">
                {% else %}
                <form action="{% url action %}" method="post">
                {% endif %}
                    {% csrf_token %}
                    <div class="field">
                        <label class="label">Judul</label>
                        <div class="control">
                            <input type="text" class="input" name="title" placeholder="Judul Artikel" value="{{article.title}}">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Isi</label>
                        <div class="control">
                            <textarea class="textarea" name="content" placeholder="Tulis artikel disini ..." rows="10">{{article.content}}</textarea>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Original Keyword</label>
                        <div class="control">
                            <input type="text" class="input" name="original_keyword" placeholder="Setiap kata kunci dipisah dengan tanda koma (,) dan spasi (Contoh: keyword1, keyword2)" value="{{article.original_keyword}}">
                        </div>
                    </div>
                    <br>
                    
                    <div class="control">
                        <input type="submit" class="button is-primary" value="{{ type }}">
                    </div>

                </form>
            </div>
        </div>

        {% block side_panel %} {% endblock %}

    </div>

{% endblock %}