<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Keyword Extractor</title>
        <link rel="stylesheet" type="text/css" href="{% static 'keyextractor/css/bulma.min.css' %}">
        <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>        
    <body>
        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                    <a href="{% url 'keyextractor:home' %}"><h1 class="title">Keyword Extractor</h1></a>
                    <h2 class="subtitle">Ekstrak kata kunci dari artikel secara otomatis!</h2>
                </div>
            </div>
            <!-- <div class="navbar-menu container">
                <div class="navbar-start">
                    <a href="{% url 'keyextractor:home' %}" class="navbar-item">Home</a>
                    <a class="navbar-item">Profile</a>
                    <a class="navbar-item">About</a>
                </div>
                <div class="navbar-end">
                    <a class="navbar-item">Help</a>
                </div>
            </div> -->
        </section>

        <section class="section">
            <div class="container">

                {% if error_message %}<span class="tag is-danger">{{ error_message }}</span><br><br>{% endif %}

                {% if article_list %}
                    <div class="columns">
                        <div class="column is-7">
                            <a href="{% url 'keyextractor:article_create' %}" class="button is-primary">Buat Artikel Baru</a>&nbsp;&nbsp;&nbsp;
                            <a href="{% url 'keyextractor:statistics' %}" class="button">Lihat Statistik</a>&nbsp;&nbsp;&nbsp;

                            <div class="dropdown">
                                <div class="dropdown-trigger">
                                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                        <span>Ekstraksi</span>
                                        <span class="icon is-small">
                                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                                        </span>
                                    </button>
                                </div>
                                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                    <div class="dropdown-content">
                                        <a href="{% url 'keyextractor:extract_all_keyword' %}" class="dropdown-item">Ekstrak mengg. modified TextRank</a>
                                        <a href="{% url 'keyextractor:extract_all_keyword_basic' %}" class="dropdown-item">Ekstrak mengg. original TextRank</a>
                                        <hr class="dropdown-divider">
                                        <a href="{% url 'keyextractor:reset_all_extraction' %}" class="dropdown-item">Reset Semua Ekstraksi</a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="column">
                            <p class="inline-block has-text-right">Halaman {{article_list.number}} dari {{paginator.num_pages}} -- Menampilkan {{article_list.start_index}}-{{article_list.end_index}} dari {{paginator.count}} artikel </p>
                        </div>
                    </div>
                {% endif %}

                {% block content %}{% endblock %}
                
            </div>
        </section>

        <script>
            $(document).ready(function(){

                $("#analyze_process").hide();
                $("#testing_detail").hide();
                $("#article_isi").hide();

                $("#extraction_detail_btn").click(function(){
                    $("#analyze_process").toggle(0, function() {
                        $('html, body').animate({
                            scrollTop: $("#analyze_process").offset().top
                        }, 500)
                    });
                });

                $("#testing_detail_btn").click(function(){
                    $("#testing_detail").toggle(0, function() {
                        $('html, body').animate({
                            scrollTop: $("#testing_detail").offset().top
                        }, 500)
                    });
                });
                
                $("#read_toggle").click(function () {
                    var txt = $("#article_isi").is(':visible') ? 'Selengkapnya' : 'Lihat Sedikit';
                    $("#read_toggle").text(txt);
                    $('#article_isi').slideToggle(200);
                });

            });

            var dropdown = document.querySelector('.dropdown');
            dropdown.addEventListener('click', function(event) {
                event.stopPropagation();
                dropdown.classList.toggle('is-active');
            });
        </script>

    </body>
</html>