{% extends "keyextractor/base.html" %}

{% block content %}

    <h1 class="title">Statistik</h1>
    <div class="card">
        <article class="card-content media">
            <div class="media-content">
                <div class="content columns">
                    <div class="column is-6">
                        <b class="has-text-danger">Modified TextRank</b>
                        <ul>
                            <li class="has-text-danger"><b>Rata-rata Akurasi:</b> {{ average_acc }} </li>
                            <li class="has-text-danger"><b>Akurasi Tertinggi:</b> {{ best_accuracy }} </li>
                            <li class="has-text-danger"><b>Rata-rata waktu ekstraksi:</b> {{ average_time }} ms/article </li>
                            <li class="has-text-danger"><b>Total waktu ekstraksi:</b> {{ extraction_time }} ms </li>
                        </ul>
                    </div>
                    <div class="column is-6">
                        <b>Original TextRank</b>
                        <ul>
                            <li><b>Rata-rata Akurasi:</b> {{ average_acc_basic }} </li>
                            <li><b>Akurasi Tertinggi:</b> {{ best_accuracy_ori }} </li>
                            <li><b>Rata-rata waktu ekstraksi:</b> {{ average_time_basic }} ms/article </li>
                            <li><b>Total waktu ekstraksi:</b> {{ extraction_time_basic }} ms </li>
                        </ul>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="content">
                <table class="table is-fullwidth is-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Judul</th>
                            <th>Akurasi Modified</th>
                            <th>Waktu Ekstraksi</th>
                            <th>Akurasi Original</th>
                            <th>Waktu Ekstraksi</th>
                        </tr>
                    </thead>
                    
                    <tbody>

                        {% for article in data %}
                        <tr>
                            <th> {{article.id}} </th>
                            <td><strong><a href="{% url 'keyextractor:article_detail' article.id %}"> {{ article.title|safe|truncatechars:"50" }} </a></strong></td>
                            <td class="has-text-danger"> {{ article.accuracy.f_measure|safe|truncatechars:"8" }} </td>
                            <td class="has-text-danger"> {{ article.load_time }}</td>
                            <td> {{ article.accuracy_ori.f_measure|safe|truncatechars:"8" }} </td>
                            <td> {{ article.load_time_ori }}</td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}