{% extends "auths/base.html" %}

{% block content %}
    
    <div class="columns">
            
        <div class="card column is-three-quarters">
            <div class="card-content">
                
                <form action="{% url 'auths:article_create_post' %}" method="post">
                    {% csrf_token %}
                    <div class="field">
                        <label class="label">Title</label>
                        <div class="control">
                            <input type="text" class="input" name="title" placeholder="Your Article Title">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Content</label>
                        <div class="control">
                            <textarea class="textarea" name="content" placeholder="Write your content here..." rows="8"></textarea> <br>
                        </div>
                    </div>

                    <div class="control">
                        <input type="submit" class="button is-primary" value="Create">
                    </div>

                </form>
            </div>
        </div>

        {% block side_panel %} {% endblock %}

    </div>

{% endblock %}