{% extends "auths/base.html" %}

{% block content %}
    <div class="control">
        <a href="{% url 'auths:article_create' %}" class="button is-primary">Create New Article</a>
    </div>
    <br>
    {% if article_list %}
        {% for article in article_list %}
            <div class="card">
                <article class="card-content media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong><a href="{% url 'auths:article_detail' article.id %}"> {{ article.title }} </a></strong>
                                <br>
                                {{ article.content }}
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        {% endfor %}
    {% else %}
        <p>No Article available.</p>
    {% endif %}
{% endblock %}