{% extends "auths/base.html" %}

{% block content %}
    
    <div class="columns">
        <div class="card column is-three-quarters">
            <div class="card-content">
                <div class="container">
                    <h1 class="title">{{ article.title }}</h1>
                    <p>{{ article.content }}</p>
                </div>
            </div>
        </div>

        {% block side_panel %} {% endblock %}
        
    </div>
    

{% endblock %}