<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hello User!</title>
        <link rel="stylesheet" type="text/css" href="{% static 'auths/css/bulma.min.css' %}">
        <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    </head>        
    <body>
        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">Simple Authentification!</h1>
                    <h2 class="subtitle">The Simple Authentification and Manage User Data Application</h2>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="container">

                {% if error_message %}<span class="tag is-danger">{{ error_message }}</span><br><br>{% endif %}

                {% block content %}{% endblock %} 

            </div>
        </section>
    </body>
</html>