{% extends "auths/base.html" %}

{% block content %}
    {% if user_list %}
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in user_list %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.fullname }}</td>
                    <td>{{ user.username }}</td>
                    <td>
                        <a href="{% url 'auths:update_view' user.id %}" class="button is-primary is-small">Edit</a>
                        <a onclick="if(confirm('Apakah anda yakin ingin menghapus user ini ??')){ location.href='{% url 'auths:delete' user.id %}' }" class="button is-danger is-small">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No User available.</p>
    {% endif %}
    
{% endblock %}