{% extends "auths/base_index.html" %}

{% block content %}

    <ul>
        <li><a class="button is-primary is-large" href="{% url 'auths:register' %}">Getting Started</a></li>
        <br>
        <li><a class="button" href="{% url 'auths:login' %}">Login</a></li>
    </ul>

{% endblock %}