{% extends "auths/base_index.html" %}

{% block content %}

    <div class="columns">
        
    <div class="card column is-half">
        <div class="card-content">
            <h1 class="title"> Login! </h1>
            <form action="{% url 'auths:login_post' %}" method="post">
                {% csrf_token %}
                <div class="field">
                    <div class="control">
                        <input type="text" class="input" name="username" placeholder="Username">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input type="password" class="input" name="password" placeholder="Password"><br>
                    </div>
                </div>

                <div class="control">
                    <input type="submit" class="button is-primary" value="Sign In">
                </div>

            </form>
        </div>
    </div>

    </div>

{% endblock %}