{% extends "auths/article_create.html" %}

{% block side_panel %}

    <div class="card column">
        <div class="card-content">
            <ul>
                <li><a> Option 1</a></li>
                <li><a> Option 2</a></li>
                <li><a> Option 3</a></li>
            </ul>
        </div>
    </div>

{% endblock %}