{% extends "auths/base.html" %}

{% block content %}

    <div class="columns">

        <div class="card column is-half">
            <div class="card-content">
                <h1 class="title"> Update! </h1>

                <form action="{% url 'auths:update_post' user.id %}" method="post">
                    {% csrf_token %}
                    <div class="field">
                        <div class="control">
                            <input type="text" class="input" name="fullname" placeholder="Your Name" value="{{ user.fullname }}">
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <input type="text" class="input" name="username" placeholder="Username" value="{{ user.username }}">
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <input type="password" class="input" name="password" placeholder="Password" value="{{ user.password }}"><br>
                        </div>
                    </div>

                    <div class="control">
                        <input type="submit" class="button is-primary" value="Update">
                    </div>
                    
                </form>

            </div>
        </div>
    </div>
{% endblock %}